<% provide(:title, @user.name) %>
<<<<<<< HEAD

=======
>>>>>>> sign-in-out
<div class=row">
  <aside class="span4">
    <section>
      <h1>
        <% options = { size: 40 } %>
        <%= gravatar_for @user, options %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<<<<<<< HEAD

=======
>>>>>>> sign-in-out
